Source: ubic
Maintainer: Vyacheslav Matjukhin (No comments) <mmcleric@yandex-team.ru>
Section: perl
Priority: optional
Standards-Version: 3.8.0
Build-Depends: debhelper (>= 5), perl,
 libclass-accessor-perl, libhttp-server-simple-perl, liblist-moreutils-perl, libparams-validate-perl,
 libtry-tiny-perl, libwww-perl, libjson-perl, libparent-perl,
 libtest-exception-perl, libtest-pod-coverage-perl, libtest-pod-perl, libtest-simple-perl, libtest-class-perl, libtest-tcp-perl

Package: ubic
Architecture: all
Depends: ${perl:Depends},
 libclass-accessor-perl, libhttp-server-simple-perl, liblist-moreutils-perl, libparams-validate-perl,
 libtry-tiny-perl, libwww-perl, libjson-perl, libparent-perl
Provides: yandex-ubic
Replaces: yandex-ubic (<< 1.00)
Conflicts: yandex-ubic (<< 1.00)
Description: flexible perl-based service manager
 Each ubic service is represented by perl object, so code reuse is trivial.
 Watchdog, neat color output and SysV-style LSB conformant init scripts are
 supported.
