#!/usr/bin/make -f

PACKAGE=$(shell dh_listpackages)

ifndef PERL
PERL = /usr/bin/perl
endif

TMP     =$(CURDIR)/debian/tmp

build: debian/build-stamp
debian/build-stamp:
	dh_testdir
	$(PERL) Makefile.PL INSTALLDIRS=vendor \
		INSTALLVENDORARCH=/usr/share/perl5/ \
		VENDORARCHEXP=/usr/share/perl5/
	$(MAKE)
	$(MAKE) test
	touch $@

clean:
	dh_testdir
	dh_testroot
	dh_clean debian/build-stamp debian/install-stamp
	[ ! -f Makefile ] || $(MAKE) realclean

install: debian/install-stamp
debian/install-stamp: debian/build-stamp
	dh_testdir
	dh_testroot
	dh_clean -k
	$(MAKE) install DESTDIR=$(TMP) PREFIX=/usr
	rm -rf $(TMP)/usr/lib/perl/5.8/
	cp -r etc $(TMP)/
	install -D -m644 debian/ubic.lintian-overrides $(TMP)/usr/share/lintian/overrides/ubic
	touch $@

binary-arch:
# We have nothing to do here for an architecture-independent package

binary-indep: build install
	dh_testdir
	dh_testroot
	dh_installdocs README
	dh_installexamples
	dh_installchangelogs Changes
	dh_installdirs
	dh_installcron
	dh_installlogrotate
	dh_install --sourcedir=debian/tmp
	dh_perl
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary
